{{> flash}}
{{{viewContent}}}
<div id="loadedTitle" class="hide">{{title}}</div>
<div id="loadedKeywords" class="hide">{{keywords}}</div>
<div id="loadedDescription" class="hide">{{description}}</div>
<div id="loadedMenu" class="hide">{{menu}}</div>
